<!DOCTYPE html>
<html ng-app="app">

<head>
<base href="/" />

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link href="./css/login.css" rel="stylesheet" />


<script src="./js/angular.min.js"></script>
<script src="./js/angular-route.js"></script>
<script src="./js/app.js"></script>
<script src="./js/controller/main-controller.js"></script>
<script src="./js/controller/login-controller.js"></script>
<script src="./js/controller/cliente-controller.js"></script>
<script src="./js/interceptor/token-interceptor.js"></script>
<script src="./js/util/util.js"></script>

<title>.: Simple JWT :.</title>
</head>

<body ng-controller="mainController">
	<div ng-view="ng-view"></div>
</body>

</html>